.catalog-item {
    flex-basis: calc(33.33% - 2.5rem);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 2px;
}

.catalog-item:hover {
    cursor: pointer;
    padding: 0;
    border: 2px solid #000;
}

.catalog-product {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0;
}

.catalog-product-image img {
    max-width: 100%;
}

.catalog-product .catalog-product-content {
    display: flex;
    padding: 0 0.75rem;
    align-items: stretch;
    align-self: stretch;
}

.catalog-product-content .product-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
}

.catalog-product-content .first-line,
.catalog-product-content .second-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalog-product-content .name-first,
.catalog-product-content .name-second {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    flex-grow: 1;
}

.catalog-product-content .name-second {
    font-weight: 400;
}

.catalog-product-content .price {
    color: #444;
    text-align: right;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin-left: auto;
    flex-shrink: 0;
}

.catalog-product-content .warehouse-status {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 125%;
    text-align: right;
    flex-shrink: 0;
}

.catalog-product-content .warehouse-status.in-stock {
    color: #16a34a;
}

.catalog-product-content .warehouse-status.out-of-stock {
    color: #dc2626;
}


@media only screen and (max-width: 480px) { 
    .catalog-item {
        flex-basis: calc(100% - 2rem);
    }    
}

@media only screen and (min-width: 481px) and (max-width: 1024px) { 
    .catalog-item {
        flex-basis: calc(50% - 3rem);
    }    
}